<template name="home">
	<div class="container">
    	<div class="row1">
    		<button type="button" name="lock"><img src="./public/images/lockIcon.png"></button>
    		<button type="button" name="unlock"><img src="./public/images/unlockIcon.png"></button>
    		<br>
    	</div><br>
    	<div class="row2">
    		<button type="button" name="addUser"><img src="./public/images/addUser.png"></button>
    		<button type="button" name="disble"><img src="./public/images/disableIcon.png"></button>
    		<br>
    	</div>

	</div>	
</template>