<template name="registration">
	<form>
		<fieldset>
			<legend>New Account</legend>
			<br>
			<input type="text" name="firstName" placeholder="First Name"><br>
			<br>
			<input type="text" name="lastName" placeholder="Last Name"><br>
			<br>
			<input type="text" name="email" placeholder="Email Address"><br>
			<br>
			<input type="password" name="password" placeholder= "Password"><br>
			<br>
			<button type="button" name="toSignIn">Already Registered?</button><br>
			<br>
			<button type="button" name="signUp">Sign Up</button><br>
		</fieldset>
	</form>	
</template>