.navbar-inverse .form-control {
    color: #2196f3;
}

@media (max-width: 767px) {
  .navbar-collapse .form-control {
    color: #fff;
  }
}

.btn-default {
    background-color: #f9f9f9;
}

.jumbotron{
    text-align: center;
}
.jumbotron h2{
    font-size: 60px;
    font-weight: 100;
}

.log{
  position:relative;
}
.log.animate{
  transition:all 300ms 0ms ease-in;
}

#user-dropdown {
    list-style-type: none;
}

#user-dropdown-label {
  color: #666666;
}
