
<template name="history">
  <a href="#"><strong><i class="fa fa-clock-o"></i> History</strong></a><hr>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="col-md-4">Action</th>
          <th class="col-md-4">
            <li class="dropdown" id="user-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="user-dropdown-label" role="button" aria-expanded="true">{{currentUserFilter}} <span class="caret"></span></a>
              <ul class="dropdown-menu" id="user-dropdown-list" role="menu">
                <li><a href="#" id="no-user-filter">All Users</a></li>
                <li class="divider"></li>
                {{#each users}}
                  <li><a href="#" id="user-filter">{{profile.firstName}} {{profile.lastName}}</a></li>
                {{/each}}
              </ul>
            </li>
          </th>
          <th class="col-md-4">Time</th>
        </tr>
      </thead>
      <tbody class="wrapper">
          {{#each logs}}
            {{> log}}
          {{/each}}
      </tbody>
    </table>
  </div>
</template>

<template name="log">
  <tr class="{{getStyle}} log">
      <td class="col-md-4">{{action}}</td>
      <td class="col-md-4">{{user}}</td>
      <td class="col-md-4">{{getTime}}</td>
  </tr>
</template>
