<template name="history">
  <a href="#"><strong><i class="fa fa-clock-o"></i> History</strong></a><hr>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="col-md-4">Action</th>
          <th class="col-md-4">User</th>
          <th class="col-md-4">Time</th>
        </tr>
      </thead>
      <tbody class="wrapper">
          {{#each logs}}
            {{> log}}
          {{/each}}
      </tbody>
    </table>
  </div>
</template>

<template name="log">
  <tr class="{{getStyle}} log">
      <td class="col-md-4">{{action}}</td>
      <td class="col-md-4">{{user}}</td>
      <td class="col-md-4">{{getTime}}</td>
  </tr>
</template>
