<template name="info">
  <div class="panel">
    <ul class="nav nav-tabs" id="myTab">
      <li class="active"><a href="#lock-information" data-toggle="tab">Lock Information</a></li>
      <li><a href="#users" data-toggle="tab">User Permissions</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active well" id="lock-information">
        <p>You are currently on a demo lock server.</p>
        <ul>
          <li>Your lock is currently <b style="{{getStyle}}">{{getStatus}}.</b></li>
        </ul>
      </div>
      <div class="tab-pane well" id="users">
        <ul class="list-group">
          {{#each users}}
            {{> userInfo}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</template>

<template name="userInfo">
  <li class="list-group-item hidden-xs">
    {{getName}} {{getEmail}}
    <button class="btn btn-xs btn-danger pull-right deleteUser"><span class="fa fa-minus"></span></button>
  </li>
  <li class="list-group-item visible-xs-block">
    {{getName}}
    <button class="btn btn-xs btn-danger pull-right deleteUser"><span class="fa fa-minus"></span></button>
  </li>
</template>
