<template name="info">
  <div class="panel">
    <ul class="nav nav-tabs" id="myTab">
      <li class="active"><a href="#lock-information" data-toggle="tab">Lock Information</a></li>
      {{#if isInRole 'owner'}}
        <li><a href="#users" data-toggle="tab">User Permissions</a></li>
      {{/if}}
    </ul>
    <div class="tab-content">
      <div class="tab-pane active well" id="lock-information">
        <p>You are currently on a demo lock server.</p>
        <ul>
          <li>Your lock is currently <b style="{{getStyle}}">{{getStatus}}.</b></li>
        </ul>
      </div>
      {{#if isInRole 'owner'}}
      <div class="tab-pane well" id="users">
        <ul class="list-group">
          {{#each users}}
            {{> userInfo}}
          {{/each}}
        </ul>
      </div>
      {{/if}}
    </div>
  </div>
</template>

<template name="userInfo">
  <li class="list-group-item hidden-xs">
    {{getName}} {{getEmail}}
    <div class="btn-group pull-right">
      {{#if isOwner}}
        <button class="btn btn-xs btn-default demote" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Demote"><span class="fa fa-minus" style="color:#ffe0b2"></span></button>
      {{else}}
        <button class="btn btn-xs btn-default promote" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Promote to owner"><span class="fa fa-star" style="color:#ffe0b2"></span></button>
      {{/if}}
      {{#if isDisabled}}
        <button class="btn btn-xs btn-default enable" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Enable user"><span class="fa fa-power-off" style="color:#bbbbbb"></span></button>
      {{else}}
        <button class="btn btn-xs btn-default disable" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Disable user"><span class="fa fa-ban" style="color:#bbbbbb"></span></button>
      {{/if}}
     <button class="btn btn-xs btn-default deleteUser" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Delete user"><span class="fa fa-trash" style="color:#f9bdbb"></span></button>
    </div>
  </li>
  <li class="list-group-item visible-xs-block">
    {{getName}}
    <div class="btn-group pull-right">
      {{#if isOwner}}
        <button class="btn btn-xs btn-default demote" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Demote"><span class="fa fa-minus" style="color:#ffe0b2"></span></button>
      {{else}}
        <button class="btn btn-xs btn-default promote" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Promote to owner"><span class="fa fa-star" style="color:#ffe0b2"></span></button>
      {{/if}}
      {{#if isDisabled}}
        <button class="btn btn-xs btn-default enable" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Enable user"><span class="fa fa-power-off" style="color:#bbbbbb"></span></button>
      {{else}}
        <button class="btn btn-xs btn-default disable" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Disable user"><span class="fa fa-ban" style="color:#bbbbbb"></span></button>
      {{/if}}
     <button class="btn btn-xs btn-default deleteUser" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Delete user"><span class="fa fa-trash" style="color:#f9bdbb"></span></button>
    </div>
  </li>
</template>
